In [1]:
from pandas import DataFrame, read_csv
from helpers.preprocess import preprocess_data
from helpers.preprocess import drop_unnecessary_columns

import pandas as pd 
import numpy as np

In [2]:
movies_md = r'dataset/movies_tmdbMeta.csv'
movies_md_df = pd.read_csv(movies_md)
pd.set_option('display.max_columns', 50)

In [3]:
movies_md_df = preprocess_data(movies_md_df)

In [4]:
# GENRES

s = movies_md_df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_df = movies_md_df.drop('genres', axis=1).join(s)
gen_df['genre'].value_counts().shape[0]

20

In [5]:
pop_gen = pd.DataFrame(gen_df['genre'].value_counts()).reset_index()
pop_gen.columns = ['genre', 'movies']
pop_gen.head(20)

              genre  movies
0             Drama   20808
1            Comedy   13467
2          Thriller    7793
3           Romance    6923
4            Action    6727
5            Horror    4760
6             Crime    4387
7       Documentary    4050
8         Adventure    3587
9   Science Fiction    3137
10           Family    2831
11          Mystery    2541
12          Fantasy    2385
13        Animation    1997
14          Foreign    1681
15            Music    1630
16          History    1427
17              War    1348
18          Western    1059
19         TV Movie     791

In [6]:
# Graphical Representation of Genres
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
sns.set(font_scale=1.25)

plt.figure(figsize=(18,8))
sns.barplot(x='genre', y='movies', data=pop_gen.head(20))
plt.show()

In [7]:
# PRODUCTION COUNTRIES

s = movies_md_df.apply(lambda x: pd.Series(x['production_countries']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'production_country'
gen_df = movies_md_df.drop('production_countries', axis=1).join(s)
gen_df['production_country'].value_counts().shape[0]

160

In [8]:
pop_gen = pd.DataFrame(gen_df['production_country'].value_counts()).reset_index()
pop_gen.columns = ['production_country', 'movies']
pop_gen.head(20)

          production_country  movies
0   United States of America   21484
1             United Kingdom    4186
2                     France    4079
3                    Germany    2324
4                      Italy    2240
5                     Canada    1795
6                      Japan    1726
7                      Spain     982
8                     Russia     924
9                      India     868
10                    Sweden     604
11                 Hong Kong     600
12                 Australia     579
13               South Korea     532
14                   Belgium     505
15                   Finland     415
16                   Denmark     406
17               Netherlands     390
18                     China     390
19                    Mexico     343

In [9]:
movies_md_df = drop_unnecessary_columns(movies_md_df)
movies_md_df.head()

,belongs_to_collection,budget,homepage,overview,popularity,runtime,spoken_languages,tagline,title,vote_average,keywords,cast_size,crew_size,production_score,is_english,rating,is_drama,is_comedy,is_thriller,is_action,is_romance,is_adventure,is_crime,is_science_fiction,is_horror,is_family,is_fantasy,is_mystery,is_animation,is_history,is_music,is_war,is_western,is_documentary,is_foreign,prod_uk,prod_usa,prod_france,prod_other
0,1,30000000.0,1,"Led by Woody, Andy's toys live happily in his ...",21.946943,81.0,1,NaN,Toy Story,7.7,"['jealousy', 'toy', 'boy', 'friendship', 'frie...",13,106,51.713007,1,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
1,1,65000000.0,1,When siblings Judy and Peter discover an encha...,17.015539,104.0,2,Roll the dice and unleash the excitement!,Jumanji,6.9,"['board game', 'disappearance', ""based on chil...",26,16,47.511209,1,3,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0
2,1,NaN,1,A family wedding reignites the ancient feud be...,11.712900,101.0,1,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,"['fishing', 'best friend', 'duringcreditssting...",7,4,3.483333,1,3,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1,16000000.0,1,"Cheated on, mistreated and stepped on, the wom...",3.859495,127.0,1,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,"['based on novel', 'interracial relationship',...",10,10,12.838144,1,2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,NaN,1,Just when George Banks has recovered from his ...,8.387519,106.0,1,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,"['baby', 'midlife crisis', 'confidence', 'agin...",12,7,24.590805,1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [10]:
y = movies_md_df[['rating']]
y.to_csv('dataset/Y.csv', index=False)
y.head()

   rating
0       3
1       3
2       3
3       2
4       2

In [11]:
movies_md_df.to_csv('dataset/X.csv', index=True, index_label='Id')