In [2]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np


movies_md = r'dataset/movies_tmdbMeta.csv'

movies_md_df = pd.read_csv(movies_md)

movies_md_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,cast,crew,keywords,weighted_rating,cast_size,crew_size,director,revenue_divide_budget
0,False,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,"['Tom Hanks', 'Tim Allen', 'Don Rickles']","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","['jealousy', 'toy', 'boy', 'friendship', 'frie...",7.684645,13,106,John Lasseter,12.451801
1,False,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,6.9,2413.0,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","['board game', 'disappearance', ""based on chil...",6.876926,26,16,Joe Johnston,4.043035
2,False,Grumpy Old Men Collection,NaN,"['Romance', 'Comedy']",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,6.5,92.0,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret']","[{'credit_id': '52fe466a9251416c75077a89', 'de...","['fishing', 'best friend', 'duringcreditssting...",6.162328,7,4,Howard Deutch,NaN
3,False,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,6.1,34.0,"['Whitney Houston', 'Angela Bassett', 'Loretta...","[{'credit_id': '52fe44779251416c91011acb', 'de...","['based on novel', 'interracial relationship',...",5.675590,10,10,Forest Whitaker,5.090760
4,False,Father of the Bride Collection,NaN,['Comedy'],NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,5.7,173.0,"['Steve Martin', 'Diane Keaton', 'Martin Short']","[{'credit_id': '52fe44959251416c75039ed7', 'de...","['baby', 'midlife crisis', 'confidence', 'agin...",5.624595,12,7,Charles Shyer,NaN

In [3]:
import ast

def get_role_list(people, role):
    people = ast.literal_eval(people)
    crew = []
    
    for person in people:
        if person['job'] == role:
            crew.append(person['name'])
    
    return crew if len(crew) else np.nan

In [4]:
# delete all rows that do not have revenue/cost recorded
print(movies_md_df.shape)
movies_md_df = movies_md_df[np.isfinite(movies_md_df['revenue_divide_budget'])]
print(movies_md_df.shape)

(46624, 32)
(5458, 32)

In [5]:
'''
data modification:
- homepage -> 1/0
- belongs_to_collection -> 1/0
- add producers column

drop:
- id
- imdb_id
- poster_path
- release_date ??
- video
- weighted_rating
'''

movies_md_df = movies_md_df.drop(['id', 'imdb_id', 'poster_path', 'video', 'weighted_rating', 'original_title'], 1)
print(list(movies_md_df.columns))

movies_md_df['homepage'] = movies_md_df['homepage'].apply(lambda x: 0 if x == np.nan else 1)
movies_md_df['belongs_to_collection'] = movies_md_df['belongs_to_collection'].apply(lambda x: 0 if x == np.nan else 1)
movies_md_df['producers'] = movies_md_df['crew'].apply(get_role_list, role='Producer')
movies_md_df['executive_producers'] = movies_md_df['crew'].apply(get_role_list, role='Executive Producer')

movies_md_df = movies_md_df.drop(['crew'], axis=1)

movies_md_df.head()

['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'cast', 'crew', 'keywords', 'cast_size', 'crew_size', 'director', 'revenue_divide_budget']

,adult,belongs_to_collection,budget,genres,homepage,original_language,original_title,overview,popularity,production_companies,...,vote_average,vote_count,cast,keywords,cast_size,crew_size,director,revenue_divide_budget,producers,executive_producers
0,False,1,30000000.0,"['Animation', 'Comedy', 'Family']",1,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],...,7.7,5415.0,"['Tom Hanks', 'Tim Allen', 'Don Rickles']","['jealousy', 'toy', 'boy', 'friendship', 'frie...",13,106,John Lasseter,12.451801,"[Bonnie Arnold, Ralph Guggenheim]","[Ed Catmull, Steve Jobs]"
1,False,1,65000000.0,"['Adventure', 'Fantasy', 'Family']",1,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",...,6.9,2413.0,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['board game', 'disappearance', ""based on chil...",26,16,Joe Johnston,4.043035,"[Scott Kroopf, William Teitler]","[Larry J. Franco, Ted Field, Robert W. Cort]"
3,False,1,16000000.0,"['Comedy', 'Drama', 'Romance']",1,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],...,6.1,34.0,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['based on novel', 'interracial relationship',...",10,10,Forest Whitaker,5.090760,"[Ronald Bass, Ezra Swerdlow, Deborah Schindler...",[Terry McMillan]
5,False,1,60000000.0,"['Action', 'Crime', 'Drama', 'Thriller']",1,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"['Regency Enterprises', 'Forward Pass', 'Warne...",...,7.7,1886.0,"['Al Pacino', 'Robert De Niro', 'Val Kilmer']","['robbery', 'detective', 'bank', 'obsession', ...",65,71,Michael Mann,3.123947,"[Art Linson, Michael Mann]","[Pieter Jan Brugge, Arnon Milchan]"
8,False,1,35000000.0,"['Action', 'Adventure', 'Thriller']",1,en,Sudden Death,International action superstar Jean Claude Van...,5.231580,"['Universal Pictures', 'Imperial Entertainment...",...,5.5,174.0,"['Jean-Claude Van Damme', 'Powers Boothe', 'Do...","['terrorist', 'hostage', 'explosive', 'vice pr...",6,9,Peter Hyams,1.838576,"[Moshe Diamant, Anders P. Jensen, Howard Baldwin]",NaN

In [10]:
y = movies_md_df['revenue_divide_budget'].apply(lambda x: x >= 1)
y = pd.DataFrame(y.values, columns=['profitable'])
y.to_csv('dataset/Y.csv', index=True, index_label='Id')
y.head()

count     5458
unique       2
top       True
freq      3825
Name: revenue_divide_budget, dtype: object

0    True
1    True
3    True
5    True
8    True
Name: revenue_divide_budget, dtype: bool

In [8]:
# remove the revenue_divide_budget column once we've generate the x and y files
movies_md_df.drop(['revenue_divide_budget'], 1)
movies_md_df.to_csv('dataset/X.csv', index=True, index_label='Id')